<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Map App</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>


    <style>#mapid {
        height: 600px;
    }</style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


</head>
<body>
<div class="container">
    <div id="formFooter" th:align="right">
        <a class="underlineHover" th:href="@{/logout}">Logout</a>
    </div>

    <h1>Hello, <span th:text="${user}"/>!</h1>

    <h3>Your places:</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Lat</th>
            <th>Lon</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempPoint : ${allPoints}">
            <td th:text="${tempPoint.lat}"/>
            <td th:text="${tempPoint.lon}"/>
            <td th:text="${tempPoint.name}"/>
            <td>
                <a th:href="@{/delete-point(pointId=${tempPoint.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this point?'))) return false">
                    Delete
                </a>
                <a th:href="@{/showFormForUpdatePoint(pointId=${tempPoint.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/showFormForAddPoint}"
       class="btn btn-primary btn-sm mb-3">
        Add point
    </a>
    <div id="mapid"></div>
    <script th:inline="javascript">

        var userPoints = [[${userPoints}]];
        var othersPoints = [[${othersPoints}]];
        var mymap = L.map('mapid').setView([54.1, 19.2], 5);

        /*    var otherIcon = L.icon({
                iconUrl: 'pin.png',
                iconSize: [38, 95],
                iconAnchor: [22, 94],
                popupAnchor: [-3, -76],
                shadowUrl: 'pin.png',
                shadowSize: [68, 95],
                shadowAnchor: [22, 94]
            });*/


        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoicGlldHJlazE0MSIsImEiOiJja2ZndnRtZHkwNm5nMnNwOHMwYjBiMWp4In0.cNYcUKbcDTn9hPqyK5PKvw'
        }).addTo(mymap);

        userPoints.forEach(value => {
            L.marker([value.lat, value.lon]).addTo(mymap).bindPopup("My place: " + value.name).openPopup();
        })

        othersPoints.forEach(value => {
            L.marker([value.lat, value.lon]).addTo(mymap).bindPopup("Discover: " + value.name).openPopup();
        })
    </script>
</div>
</body>
</html>