<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/form.css" id="form-css" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            Please Sign up
        </div>
        <form th:action="@{/register}"  th:object="${user}" method="post">
            <div  class="alert alert-error">
                <td th:text="${error}">err</td>
            </div>

            <input type="text" id="username" class="fadeIn second" th:field="*{username}" placeholder="username">
            <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Sign up!">
        </form>

        <div id="formFooter">
            <a class="underlineHover" th:href="@{/login}">Already have an account?</a>
        </div>

    </div>
</div>

</body>
</html>